.hero-container {
  display: flex;
  align-items: center;
  margin-top: 60px;
  gap: 100px;
  background: #e9f4ff;
  border-radius: 8px;
  padding: 20px 60px;
  @media (max-width: 768px) {
    margin: 60px 30px;
    padding: 20px;
  }
  .hero-text {
    @media (max-width: 768px) {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1 {
      font-size: 40px;
      font-weight: 600;
      line-height: 52px;
      margin-bottom: 12px;
      @media (max-width: 768px) {
        font-size: 32px;
      }
      span {
        color: rgb(38, 78, 255)
      }
    }

    p {
      font-size: 20px;
      margin-bottom: 16px;
      margin-left: 20px;
    }

    .hero-playstore {
      width: 120px;
      height: auto;
    }
  }

  .hero-img {
    width: 44%;
    @media (max-width: 768px) {
      display: none;
    }
  }
}