.product-wrapper {
  background: linear-gradient(168deg, rgb(233, 244, 255) 0%, rgb(255, 255, 255) 100%);
  padding-top: 2vw;
  padding-bottom: 8vw;
  position: relative;

  h2 {
    text-align: center;
  }

  .subtitle {
    text-align: center;
  }

  .product-cards {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 30px;
    width: 100%;


    .product-single-card {
      width: 47%;
      height: 200px;
      display: flex;
      column-gap: 30px;
      padding: 30px;
      border-radius: 8px;
      align-items: center;
      transition: all .4s;
      z-index: 1;
      @media screen and (max-width: 760px) {
        width: 100%;
        margin: auto 30px;
        text-align: center;
      }
      @media screen and (max-width: 480px) {
        display: flex;
        flex-direction: column;
        height: auto;
        img {
          width: 50%;
        }
      }

      &:nth-child(1) {
        background-color: #edffec;
      }

      &:nth-child(2) {
        background-color: #fff1ca;
      }

      &:nth-child(3) {
        background-color: #ffeee7;
      }

      &:nth-child(4) {
        background-color: #fff5e7;
      }

      img {
        width: 30%;
        filter: grayscale(100%);
      }

      &:hover {
        background-color: #fff;
        transform: rotateX(3.7deg) rotateY(-0.7) scale3d(1.03, 1.03, 1.03);
        box-shadow: rgba(0, 16, 60, 0.03) 3px 3px 18px 0;
        height: auto;

        img {
          filter: grayscale(0);

        }

      }

      h3 {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
        margin-top: 8px;
        @media screen and (max-width: 480px) {
          font-size: 18px;
        }
      }

      p {
        font-size: 16px;
        @media screen and (max-width: 480px) {
          font-size: 14px;
        }
      }

    }
  }

  .product-bg-top {
    position: absolute;
    top: 2%;
    left: 0;
    z-index: 0;


  }

  .product-bg-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0
  }
}

