.zet-bg {
  background-color: rgb(20, 92, 197);
  padding: 10vw;
  clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0% 100%);
  overflow: hidden;
  height: 120vh;
  margin: 50px auto;
  border-radius: 4px;
  position: relative;

  .zet-bg-transparent {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.31);
    clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0% 100%);
    position: absolute;
    width: 80%;
    height: 70%;

    img {
      object-fit: contain;
      width: 50%;
      height: auto;
      filter: grayscale(80%);

    }

    .zet-text {
      color: white;

      h2 {
        font-size: 2rem;
        font-weight: 700;
      }

    }

  }

}

