.zet-bg {
  background-color: rgb(20, 92, 197);
  padding-top: 10vw;
  padding-bottom: 10vw;
  clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0% 100%);
  overflow: hidden;
  height: 90vh;
  margin: 50px auto;
  color: white;

}