.zet-bg {
  background-color: rgb(20, 92, 197);
  padding: 10vw;
  clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0% 100%);
  overflow: hidden;
  height: 90vh;
  margin: 50px auto;
border-radius: 4px;
  .zet-bg-transparent{
    display: flex;
    align-items: center;
    background-color: white;
    clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0% 100%);
    opacity: .3;

    img {
      object-fit: cover;
opacity: 1!important;
    }

    .zet-text {
      float: right;
      color: white;
      h2{
        font-size: 22px;
        font-weight: 700;
      }
    }
  }


}